.chat {
  margin: 0px 0px 0px 0px !important;
}

.chat .box {
  margin-bottom: 0px !important;
}

.chat .box .hero {
  width: 100%;
}

.chat .box .hero .hero-body {
  overflow-y: scroll;
  height: 350px;
}

.chat .box .hero .hero-body .messages {
  width: 100%;
}

.navbar-menu .navbar-end .navbar-item .field {
  margin-bottom: 0;
}

.chat-info {
  margin: -30px 6px 0px 0px;
}

span.user {
  cursor: pointer;
  text-decoration: underline;
  margin-right: 10px;
}

#private-messages article {
  margin-bottom: 20px;
}

#private-messages .message-body {
  padding-bottom: 40px;
}

#private-messages .message-body textarea {
  margin-bottom: 10px;
}

#private-messages .message-body .input {
  float: left;
  width: 75%;
}

#private-messages .message-body .button {
  float: right;
}
